<h1>Invite a friend</h1>

<div class="container deviseShared">
  <div class="row">
    <div class="col-md-8">
			<%= form_for(@invite, url: invites_path(@invite)) do |f| %>
        <%= form_group_tag(@invite.errors[:email]) do %>
          <%= f.label :email, "Your Friend's Email" %>
          <%= f.email_field :email, class: "form-control" %><br />
        <% end %>
        OR        
        <%= form_group_tag(@invite.errors[:email]) do %>
          <br />
          <%= f.label :phone, "Your Friend's Phone Number" %>
          <%= f.text_field :phone, class: "form-control" %><br />
        <% end %>

        <div class="actions">
          <%= f.submit "Submit", class: "btn btn-success" %>
        </div>
			<% end %>
		</div>
	</div>
</div>