<div class="media">
  <h4 class="media-description">
    <%= link_to image_tag(activity['actor'].avatar_url(35)), activity['actor'] %> 
    <span class="user-name"><%= link_to activity['actor'].name, activity['actor'] %></span>
    <span class="atusername"><%= link_to activity['actor'].username, activity['actor'] %></span> -
    <span class="time-ago"><%= time_ago_in_words(activity['time']) %></span>
  </h4>
  <div class="media-body">
    <h4 class="media-heading">
      has subscribed to <%= link_to activity['object'].name, activity['object'] %><hr>
    </h4>
  </div>
</div>