<%= link_to activity['actor'].username %> upvoted the following post:
<div class="media">
  <h4 class="media-description">
    <%= link_to image_tag(activity['object'].user.avatar_url(35)), activity['object'].user %> 
    <span class="user-name"><%= link_to activity['object'].user.name, activity['object'].user %></span>
    <span class="atusername"><%= link_to activity['object'].user.username, activity['object'].user %></span> -
    <span class="time-ago"><%= time_ago_in_words(activity['object'].created_at) %></span>
  </h4>
  <%= render partial: 'votes/voting', locals: { post: activity['object'].post } %>
  <div class="media-body">
    <h5 class="media-heading">
      <%= link_to activity['object'].post.title, post_path(activity['object'].post) %>
    </h5>
    <small>
      <%= truncate(activity['object'].post.body, length: 150, :separator => ' ') %><br>
      <%= activity['object'].post.comments.count %> Comments
    </small>
  </div>
</div>
<hr>