<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <%= render partial: 'follow_form', locals: { user: @user } %>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <div class='js-comments-count'>
            <%= pluralize(@user.comments.count, 'comment') %>    
          </div>
        </small>
        <section class="stats">
          <%= render 'stats' %>
        </section>
      </div>
    </div>
  </div>
</div>

<h2>User activity</h2>
<% @collection.each do |collection| %>
  <% if collection.instance_of? Post %>
    <%= render partial: 'posts/post', locals: { post: collection } %>
    <hr>
  <% elsif collection.instance_of? Comment %>
    <%= render partial: 'comments/comment', locals: { comment: collection } %>
    <hr>
  <% else %>
    <% if collection.value == 1 %> 
      <%= collection.user.name %> upvoted the following post <%= time_ago_in_words(collection.updated_at) %> ago
    <% end %>
    <%= render partial: 'posts/post', locals: { post: collection.post } %>
    <hr>
  <% end %>
<% end -%>
