<div class="row">
  <aside class="col-md-4">
    <section class="media user_info">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
          <%= image_tag avatar_url, class: 'media-object' %>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <%= render partial: 'follow_form', locals: { user: @user } %>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <div class='js-comments-count'>
            <%= pluralize(@user.comments.count, 'comment') %>    
          </div>
        </small>
        <section class="stats">
          <%= render 'stats' %>
        </section>
        <section class="stats">
          <%= render 'topics/subscription_stats' %>
        </section>
        <section class="public">
          <% if current_user == @user %>
            <%= link_to "New Post", new_post_path, class: 'btn btn-success' %>
            <% if @user.private? %>
              <%= button_to "Make your profile public", public_path, class: "btn btn-success" %>
            <% else %>
              <%= button_to "Make your profile private", private_path, class: "btn btn-primary" %>
            <% end %>
          <% end %>
        </section>
        <% if current_user == @user && @similar_raters.empty? == false %>
          <section class="similar-users">
            <h4>Users you may know</h4>
            <% @similar_raters.each do |user| %>
              <hr />
              <%= image_tag user.avatar_url(40), class: 'media-object pull-left' %>
              <div class="pull-right">
                <%= render partial: 'follow_form', locals: { user: user }, class: 'pull-right' %>
              </div>
              <h6><%= link_to user.name, user %></h6>
              <h6><%= user.username %></h6>
            <% end %>
          </section>
        <% end -%>
      </div>
    </section>
  </aside>
  
  <div class="col-md-8">
    <% unless @user.private? && (@user.followers.include?(current_user) == false && current_user != @user)%>
      <h2>User activity</h2>
      <% @collection.each do |collection| %>
        <% if collection.instance_of? Post %>
          <hr>
          <%= render partial: 'posts/post', locals: { post: collection } %>
        <% elsif collection.instance_of? Comment %>
          <%= render partial: 'comments/comment', locals: { comment: collection } %>
        <% else %>
          <% if collection.value == 1 %> 
            <hr>
            <%= collection.user.name %> upvoted the following post <%= time_ago_in_words(collection.updated_at) %> ago
          <% end %>
          <%= render partial: 'posts/post', locals: { post: collection.post } %>
        <% end %>
      <% end -%>    
    <% else %>
      <h3>Only confirmed followers have access to <%= @user.username %>'s posts and complete profile. </h3>
    <% end %>
  </div>
</div>
