<!DOCTYPE html>
<html>
  <head>
    <title>Bloccit</title>
    <%= csrf_meta_tags %>
    <%= Gon::Base.render_data %>
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  	<div class="container">
		  <ul class="nav nav-tabs">
		    <li><%= link_to "Home", root_path %></li>
		    <li><%= link_to "About", about_path %></li>
        <% if current_user %>
          <li><%= link_to "Notifications (#{StreamRails.feed_manager.get_notification_feed(current_user.id).get()['unread']})", notifications_path %></li>
          <li><%= link_to "Invite", new_invite_path %></li>
          <li><%= render partial: "search/search" %></li>
        <% end -%>

        <div class="pull-right user-info">
          <% if current_user %>
            <%= image_tag current_user.avatar_url(48), class: "gravatar" %>
            <div class="pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Settings", edit_user_registration_path(current_user) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
                  </li>
                </ul>
              </li>
            </div>
          <% else %>
           <%= link_to "Sign In", new_user_session_path %> or
           <%= link_to "Sign Up", new_user_registration_path %>
          <% end %>
        </div>
		 	</ul>

      <div class="flash"></div>

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

		  <%= yield %>
    </div>
  </body>
</html>
